/* img {
  height: 100px;
  width: auto;
} */

body {
  /* background : rgb(235, 234, 234); */
  background-image: url(https://picsum.photos/id/1037/1400/600);
  background-size: cover;
	background-position: bottom;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #4b4b4d;
}

h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 5px;
  padding: 20px;
  padding-top: 18px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: rgb(229 48 48);
  font-weight: 700;
  padding-top: 1px;
  font-size: 50px;
}


.container {
  margin: 0 auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

#banner {
  /* background-image: url(https://picsum.photos/id/1037/1400/600);

  b */

	background-size: cover;
	background-position: bottom;
  background: rgba(240, 240, 240, 0.8) ;
  margin: 30px;
  padding: 30px;
  border-radius: 7px;
  margin: auto;
  width: 500px;
}

.cards {
  background-size: cover;
	background-position: bottom;
  background: rgba(240, 240, 240, 0.8);
  margin: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 7px;
  margin: auto;
  width: 500px;
}

 a {
   color:rgb(158, 156, 156);
   text-decoration: none;

 }

 .btn:hover {
  color: #297281;
  border: 1px solid #297281;
  text-decoration: none;
}

img {
  height: 150px;
  border-radius: 60%;
  box-shadow: 5px, 5px, 5px, #297281;
  padding: 10px;
}

p {
  padding-bottom: 25px;
}

.btn {
  background: rgb(245, 242, 242);
  padding: 7px;
  width: 20px;
  border: 1px solid rgb(158, 156, 156);
  border-radius: 7px;
}

.ul-list > li {
  display: inline-block;
  padding: 0px 20px;
  list-style-type: none;
  color: #297281;
  height: 20px;
  width: auto;
  opacity: 0.8;
  font-size: 40px;
}

li {
  list-style: none;
  padding-left: 0px;
}

ul {
  padding-inline-start: 0px;
  padding: 13px;
  padding-top: 7px;
}

.icons {
  color: #297281;
}
